# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Cloud\OneDrive\Documents\HEIG-20-21\GEN\Labo2\projet-janssens_marques_lange_villagrasa\my-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
